{{template "header.html" .}}
<div class="toolbar header bg-{{$.themeInfo.Color}}-{{$.themeInfo.ColorStrength}} color-white">
	<button class="icon-button" onclick="SideMenu.toggle(document.querySelector('#navigation-sidemenu'))"><i class="fa fa-bars"></i></button>
	<label class="toolbar-label">分类 - {{$.curCateTitle}}</label>
	<span class="float-right" id="switch-container">
		<div class="switch">
			<input type="checkbox" id="dark-theme-switch" onchange="Theme.setTheme(this.checked ? 'dark' : 'light')"/>
			<label for="dark-theme-switch"></label>
			<label class="form-control-label">Dark</label>
		</div>
	</span>
</div>
<div id="postsContainer">
	<div id="posts">
    {{template "post_abstract.html" $}}
    {{template "paging.html" $}}
	</div>
</div>
{{template "footer_js.html" $}}
{{template "highlight.html" $}}
</body>
</html>